<div class="MultiSelectComponentContainer">
    <h1 class="title">Productgroep</h1>
    <input class="search" type="text" name="searchString" [(ngModel)]="searchString" placeholder="Zoek op...">
    <div class="listContainer">
        <ul>
            <li class="items" *ngFor="let item of items | filter: searchString; let i = index" (click)="onItemClick(i)" 
            [ngClass]="{'selected': item.isSelected }"> 
                <span class="select-box"></span>{{item.name}}</li>
        </ul>
    </div>
</div>