@import '../../../styles.scss';

.listContainer {
    height: 90%;
    overflow: auto;
}

h1.title{
    color: $bol-grey;
    font-size: medium;
    margin: 5px;
}

.MultiSelectComponentContainer{
    border: 1px solid $bol-grey;
    height: 100%;
    border-radius: 5px;
    background-color: $bol-white;
    
    input.search{
        width: 90%;
        height: 20px;
        margin: 5px;
        border: 1px solid $bol-grey;
        border-radius: 5px;
        padding-left: 10px;
    }
    ::placeholder {
        color: $bol-grey;
    }
}

ul {
    padding-left: 2px;

    li.items {
        list-style: none;
        
        &.selected{
            color: $bol-blue;

            span.select-box::after{
                content: "";
                background-color:$bol-blue;
                height: 11px;
                width: 11px;
                top: 2px;
                left: 2px;
                position: absolute;
            }
        }
        
    }
    :hover {
        color: $bol-blue;
        cursor: pointer;
    }
}

.select-box{
    border: 1px solid $bol-grey;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    top: 3px;
    position: relative;
}
